[submodule "ghost"]
	path = ghost
	url = git@github.com:puffinrocks/ghost
[submodule "flarum"]
	path = flarum
	url = git@github.com:puffinrocks/flarum
[submodule "gogs"]
	path = gogs
	url = git@github.com:puffinrocks/gogs
[submodule "owncloud"]
	path = owncloud
	url = git@github.com:puffinrocks/owncloud
[submodule "redmine"]
	path = redmine
	url = git@github.com:puffinrocks/redmine
[submodule "rocketchat"]
	path = rocketchat
	url = git@github.com:puffinrocks/rocketchat
[submodule "wordpress"]
	path = wordpress
	url = git@github.com:puffinrocks/wordpress
